img[data-aos=flip-left] {
  transform: rotateY(-180deg);
}
img[data-aos-easing=ease-out-cubic] {
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
img[data-aos-duration="2000"] {
  transition-duration: 2s;
}

h1, h2 {
  font-family: cambria-italic;
}

body {
  background-color: #FAEBD7;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin-left: 20px;
}
nav ul li:first-child {
  margin-left: 0;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}
nav ul li a:hover {
  text-decoration: underline;
}

h3, h4 {
  text-align: center;
}

main .titulos {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #222222;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.titulos h2 {
  display: inline-block;
  width: 300px;
  padding: 5px 10px;
  margin: 5px;
  text-align: center;
  color: white;
  background-color: red;
}
header .logo {
  flex: 1;
  text-align: left;
}
header .logo img {
  max-width: 200px;
  height: auto;
}

#obras, #servicios, #trabajadores {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px;
}
#obras h5, #obras h4, #servicios h5, #servicios h4, #trabajadores h5, #trabajadores h4 {
  text-align: center;
  width: 100%;
}
#obras img, #servicios img, #trabajadores img {
  max-width: 400px;
  height: auto;
}
#obras div, #servicios div, #trabajadores div {
  text-align: center;
  margin: 10px;
}

.formulario-contacto {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}
.formulario-contacto h3 {
  text-align: center;
}
.formulario-contacto .form-group {
  margin-bottom: 20px;
}
.formulario-contacto .form-group label {
  display: block;
  margin-bottom: 5px;
}
.formulario-contacto .form-group input[type=text],
.formulario-contacto .form-group input[type=email],
.formulario-contacto .form-group input[type=tel],
.formulario-contacto .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.formulario-contacto button[type=submit] {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
}
.formulario-contacto button[type=submit]:hover {
  background-color: blue;
}

.subdescripcion {
  font-family: "Arial", sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.titulo-descripcion {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#servicios img {
  width: 500px;
  transition: transform 0.3s ease;
  border: 2px solid #ddd;
  border-radius: 15px;
}

#servicios img:hover {
  transform: scale(1.1);
}

#trabajadores .trabajador img {
  transition: transform 0.3s ease;
  border: 2px solid #ddd;
  border-radius: 15px;
}

#trabajadores .trabajador img:hover {
  transform: scale(1.05);
}

#obras {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  grid-auto-rows: auto;
}
#obras .grid-item {
  text-align: center;
  margin-bottom: 20px;
}
#obras .grid-item img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
}

#obras .grid-item {
  text-align: center;
  margin-bottom: 20px;
}

#obras .grid-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  border: 2px solid #ddd;
  border-radius: 15px;
}

#obras .grid-item img:hover {
  transform: scale(1.1);
}

footer {
  background-color: #222222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.redes a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}
.redes a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
